# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Compiled by Wargroove ModPacker
*.dat
*tavernDistant.ogg
*bar_ambianceDistant.ogg
assets_src/image/units/witch/outlaws/portrait_witch_outlaws_small.png
assets_src/image/units/witch/outlaws/portrait_witch_outlaws_medium.png
assets_src/image/units/witch/outlaws/map_witch_outlaws.ase.meta
assets_src/image/units/witch/outlaws/map_witch_outlaws.ase
assets_src/image/units/witch/outlaws/battle_witch_outlaws.ase.meta
assets_src/image/units/witch/outlaws/battle_witch_outlaws.ase
assets_src/image/units/warship/outlaws/portrait_warship_outlaws_small.png
assets_src/image/units/warship/outlaws/portrait_warship_outlaws_medium.png
assets_src/image/units/warship/outlaws/map_warship_outlaws.ase.meta
assets_src/image/units/warship/outlaws/map_warship_outlaws.ase
assets_src/image/units/warship/outlaws/battle_warship_outlaws.ase.meta
assets_src/image/units/warship/outlaws/battle_warship_outlaws.ase
assets_src/image/units/wagon/outlaws/portrait_wagon_outlaws_small.png
assets_src/image/units/wagon/outlaws/portrait_wagon_outlaws_medium.png
assets_src/image/units/wagon/outlaws/map_wagon_outlaws.ase.meta
assets_src/image/units/wagon/outlaws/map_wagon_outlaws.ase
assets_src/image/units/wagon/outlaws/battle_wagon_outlaws.ase.meta
assets_src/image/units/wagon/outlaws/battle_wagon_outlaws.ase
assets_src/image/units/villager/outlaws/portrait_villager_outlaws_small.png
assets_src/image/units/villager/outlaws/portrait_villager_outlaws_medium.png
assets_src/image/units/villager/outlaws/map_villager_outlaws.ase.meta
assets_src/image/units/villager/outlaws/map_villager_outlaws.ase
assets_src/image/units/villager/outlaws/battle_villager_outlaws.ase.meta
assets_src/image/units/villager/outlaws/battle_villager_outlaws.ase
assets_src/image/units/turtle/outlaws/portrait_turtle_outlaws_small.png
assets_src/image/units/turtle/outlaws/portrait_turtle_outlaws.png
assets_src/image/units/turtle/outlaws/map_turtle_outlaws.ase.meta
assets_src/image/units/turtle/outlaws/map_turtle_outlaws.ase
assets_src/image/units/turtle/outlaws/battle_turtle_outlaws.ase.meta
assets_src/image/units/turtle/outlaws/battle_turtle_outlaws.ase
assets_src/image/units/trebuchet/outlaws/portrait_trebuchet_outlaws_small.png
assets_src/image/units/trebuchet/outlaws/portrait_trebuchet_outlaws_medium.png
assets_src/image/units/trebuchet/outlaws/map_trebuchet_outlaws.ase.meta
assets_src/image/units/trebuchet/outlaws/map_trebuchet_outlaws.ase
assets_src/image/units/trebuchet/outlaws/battle_trebuchet_outlaws.ase.meta
assets_src/image/units/trebuchet/outlaws/battle_trebuchet_outlaws.ase
assets_src/image/units/travelboat/outlaws/portrait_travelboat_outlaws_small.png
assets_src/image/units/travelboat/outlaws/portrait_travelboat_outlaws.png
assets_src/image/units/travelboat/outlaws/map_travelboat_outlaws.ase.meta
assets_src/image/units/travelboat/outlaws/map_travelboat_outlaws.ase
assets_src/image/units/travelboat/outlaws/battle_travelboat_outlaws.ase.meta
assets_src/image/units/travelboat/outlaws/battle_travelboat_outlaws.ase
assets_src/image/units/thief/cherrystone/battle_thief_cherrystone2.ase
assets_src/image/units/spearman/outlaws/portrait_spearman_outlaws_small.png
assets_src/image/units/spearman/outlaws/portrait_spearman_outlaws_medium.png
assets_src/image/units/spearman/outlaws/map_spearman_outlaws.ase.meta
assets_src/image/units/spearman/outlaws/map_spearman_outlaws.ase
assets_src/image/units/spearman/outlaws/battle_spearman_outlaws.ase.meta
assets_src/image/units/spearman/outlaws/battle_spearman_outlaws.ase
assets_src/image/units/soldier/outlaws/portrait_soldier_outlaws_small.png
assets_src/image/units/soldier/outlaws/portrait_soldier_outlaws_medium.png
assets_src/image/units/soldier/outlaws/map_soldier_outlaws.ase.meta
assets_src/image/units/soldier/outlaws/map_soldier_outlaws.ase
assets_src/image/units/soldier/outlaws/battle_soldier_outlaws.ase.meta
assets_src/image/units/soldier/outlaws/battle_soldier_outlaws.ase
assets_src/image/units/rifleman/outlaws/portrait_rifleman_outlaws_small.png
assets_src/image/units/rifleman/outlaws/portrait_rifleman_outlaws_medium.png
assets_src/image/units/rifleman/outlaws/map_rifleman_outlaws.ase.meta
assets_src/image/units/rifleman/outlaws/map_rifleman_outlaws.ase
assets_src/image/units/rifleman/outlaws/battle_rifleman_outlaws.ase.meta
assets_src/image/units/rifleman/outlaws/battle_rifleman_outlaws.ase
assets_src/image/units/merman/outlaws/portrait_merman_outlaws_small.png
assets_src/image/units/merman/outlaws/portrait_merman_outlaws_medium.png
assets_src/image/units/merman/outlaws/map_merman_swim_outlaws.ase.meta
assets_src/image/units/merman/outlaws/map_merman_swim_outlaws.ase
assets_src/image/units/merman/outlaws/map_merman_outlaws.ase.meta
assets_src/image/units/merman/outlaws/map_merman_outlaws.ase
assets_src/image/units/merman/outlaws/battle_merman_swim_outlaws.ase.meta
assets_src/image/units/merman/outlaws/battle_merman_swim_outlaws.ase
assets_src/image/units/merman/outlaws/battle_merman_outlaws.ase.meta
assets_src/image/units/merman/outlaws/battle_merman_outlaws.ase
assets_src/image/units/mage/outlaws/portrait_mage_outlaws_small.png
assets_src/image/units/mage/outlaws/portrait_mage_outlaws_medium.png
assets_src/image/units/mage/outlaws/map_mage_outlaws.ase.meta
assets_src/image/units/mage/outlaws/map_mage_outlaws.ase
assets_src/image/units/mage/outlaws/battle_mage_outlaws.ase.meta
assets_src/image/units/mage/outlaws/battle_mage_outlaws.ase
assets_src/image/units/knight/outlaws/portrait_knight_outlaws_small.png
assets_src/image/units/knight/outlaws/portrait_knight_outlaws_medium.png
assets_src/image/units/knight/outlaws/map_knight_outlaws.ase.meta
assets_src/image/units/knight/outlaws/map_knight_outlaws.ase
assets_src/image/units/knight/outlaws/battle_knight_outlaws.ase.meta
assets_src/image/units/knight/outlaws/battle_knight_outlaws.ase
assets_src/image/units/keeper/outlaws/battle_keeper_outlaws.ase.meta
assets_src/image/units/keeper/outlaws/battle_keeper_outlaws.ase
assets_src/image/units/harpy/outlaws/portrait_harpy_outlaws_small.png
assets_src/image/units/harpy/outlaws/portrait_harpy_outlaws_medium.png
assets_src/image/units/harpy/outlaws/map_harpy_outlaws.ase.meta
assets_src/image/units/harpy/outlaws/map_harpy_outlaws.ase
assets_src/image/units/harpy/outlaws/battle_harpy_outlaws.ase.meta
assets_src/image/units/harpy/outlaws/battle_harpy_outlaws.ase
assets_src/image/units/harpoonship/outlaws/portrait_harpoonship_outlaws_small.png
assets_src/image/units/harpoonship/outlaws/portrait_harpoonship_outlaws_medium.png
assets_src/image/units/harpoonship/outlaws/map_harpoonship_outlaws.ase.meta
assets_src/image/units/harpoonship/outlaws/map_harpoonship_outlaws.ase
assets_src/image/units/harpoonship/outlaws/battle_harpoonship_outlaws.ase.meta
assets_src/image/units/harpoonship/outlaws/battle_harpoonship_outlaws.ase
assets_src/image/units/giant/outlaws/portrait_giant_outlaws_small.png
assets_src/image/units/giant/outlaws/portrait_giant_outlaws_medium.png
assets_src/image/units/giant/outlaws/map_giant_outlaws.ase.meta
assets_src/image/units/giant/outlaws/map_giant_outlaws.ase
assets_src/image/units/giant/outlaws/battle_giant_outlaws.ase.meta
assets_src/image/units/giant/outlaws/battle_giant_outlaws.ase
assets_src/image/units/dragon/outlaws/portrait_dragon_outlaws_small.png
assets_src/image/units/dragon/outlaws/portrait_dragon_outlaws_medium.png
assets_src/image/units/dragon/outlaws/map_dragon_outlaws.ase.meta
assets_src/image/units/dragon/outlaws/map_dragon_outlaws.ase
assets_src/image/units/dragon/outlaws/battle_dragon_outlaws.ase.meta
assets_src/image/units/dragon/outlaws/battle_dragon_outlaws.ase
assets_src/image/units/dog/outlaws/portrait_dog_outlaws_small.png
assets_src/image/units/dog/outlaws/portrait_dog_outlaws_medium.png
assets_src/image/units/dog/outlaws/map_dog_outlaws.ase.meta
assets_src/image/units/dog/outlaws/map_dog_outlaws.ase
assets_src/image/units/dog/outlaws/battle_dog_outlaws.ase.meta
assets_src/image/units/dog/outlaws/battle_dog_outlaws.ase
assets_src/image/units/balloon/outlaws/portrait_balloon_outlaws_small.png
assets_src/image/units/balloon/outlaws/portrait_balloon_outlaws_medium.png
assets_src/image/units/balloon/outlaws/map_balloon_outlaws.ase.meta
assets_src/image/units/balloon/outlaws/map_balloon_outlaws.ase
assets_src/image/units/balloon/outlaws/battle_balloon_outlaws.ase.meta
assets_src/image/units/balloon/outlaws/battle_balloon_outlaws.ase
assets_src/image/units/ballista/outlaws/portrait_ballista_outlaws_small.png
assets_src/image/units/ballista/outlaws/portrait_ballista_outlaws_medium.png
assets_src/image/units/ballista/outlaws/map_ballista_outlaws.ase.meta
assets_src/image/units/ballista/outlaws/map_ballista_outlaws.ase
assets_src/image/units/ballista/outlaws/battle_ballista_outlaws.ase.meta
assets_src/image/units/ballista/outlaws/battle_ballista_outlaws.ase
assets_src/image/units/archer/outlaws/portrait_archer_outlaws_small.png
assets_src/image/units/archer/outlaws/portrait_archer_outlaws_medium.png
assets_src/image/units/archer/outlaws/map_archer_outlaws.ase.meta
assets_src/image/units/archer/outlaws/map_archer_outlaws.ase
assets_src/image/units/archer/outlaws/battle_archer_outlaws.ase.meta
assets_src/image/units/archer/outlaws/battle_archer_outlaws.ase
